.app{
   background-size: cover;
   background-position: center;
   min-height: 100vh;
   display: grid;
   justify-items: center;
}
h1{
   font-size: xx-large;
}
.app.bg1{
background-image: url("/public/images/bg1.jpeg");
}

.app.bg2{
background-image: url("/public/images/bg2.jpeg");
}

.app.bg3{
background-image: url("/public/images/bg3.jpeg");
}

.app.bg4{
background-image: url("/public/images/bg4.jpeg");      
}
.app__container{
position: relative;
display: grid;
grid-template-rows:auto auto auto  auto;
align-items: center;
justify-items:center;
height: 90vh;
width: min(100%, 300px);
padding: 10px 10px;
}

.quoteBox{
   background-color: white;
   padding: 20px;
   border-radius: 5%;
   opacity: 0.5;
   color: black;
}

h1{
   color: white;
}

footer{
   align-content: start;
   color: white;
}

button {
   padding: 5px;
   background-color: white;
   color: black;
   border-radius: 100%;
   border: none;
}

.imgPlanet{
   position: absolute;
   top: 65%;
   opacity:60%;
}